body {
  margin: 0;
  position: relative;
}

.top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 165px;
}

.topHeader {
  color: #13183F;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  margin: 0;
}

.getStartedTop {
  background-color: #13183F;
  border-radius: 28px;
  border-width: 0px;
  color: #FFFFFF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 56px;
  line-height: 28px;
  width: 167px;
}

.hero {
  display: flex;
  padding-left: 165px;
}

.heroImage {
  position: absolute;
}